@model IEnumerable<Web.Models.Job>

@{
    ViewBag.Title = "freelancehub.io - My Jobs";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<section id="jobs_main">

        <h1>My Leads</h1>
        @if (Model.Where(model => model.JobStatus.Status == "Lead").Count() == 0) {
             <h4>You have no leads saved. Want to try @Html.ActionLink("searching", "GoogleSearch", "Search", null, null)?</h4>
        }
        else
        {
            <table class="minimalist" cellpadding="0" cellspacing="0">
                
                <tbody>

                @foreach (var item in Model)
                {
                    if ((item.JobStatus != null) && (item.JobStatus.Status == "Lead"))
                    {
                        <tr>
                            <td>
                                <a class="search-result-title" href="@item.URL" target="_blank">@Html.Raw(@item.Title)</a><br /> 
                                <span class="search-result-desc">@Html.Raw(@item.ShortDescription)</span><br />            
                                <a href="@item.DisplaySite" target="_blank">@Html.Raw(@item.DisplaySite)</a>
                            </td>
                            <td class="last" style="text-align: center;">
                                 @Html.ActionLink(" ", "RedirectDisclaimerJob", "Search", @item, new { @class = "red small", @target = "_blank", @style = "background:url(/Content/images/apply.png) no-repeat left center;" })
                                @Html.ActionLink("I Applied!", "Applied", new { url = item.URL })
                                @Html.ActionLink("Delete", "Delete", new { url = item.URL })
                            </td>
                        </tr>
                    }
                }

                </tbody>

            </table>
      
        }
        <br /><br />
        <h1>Active Proposals</h1>
        @if (Model.Where(model => model.JobStatus.Status == "Applied").Count() == 0)
        {
			<h4>You have no proposals saved.<br/>
            If you applied to one of your leads, click "Applied" next to that job in the list above.</h4>					        
        }
        else
        {   
            <div class="jobs_table">
                <table class="minimalist" cellpadding="0" cellspacing="0">
                     
                    <tbody>

                    @foreach (var item in Model)
                    {
                        if ((item.JobStatus != null) && (item.JobStatus.Status == "Applied"))
                        {
                            <tr>
                               <td>
                                    <a class="search-result-title" href="@item.URL" target="_blank">@Html.Raw(@item.Title)</a><br /> 
                                    <span class="search-result-desc">@Html.Raw(@item.ShortDescription)</span><br />            
                                    <a href="@item.DisplaySite" target="_blank">@Html.Raw(@item.DisplaySite)</a>
                                </td>
                                <td>
                                    @Html.ActionLink("I Got it!", "Current", new { url = item.URL })<br />
                                    @Html.ActionLink("Delete", "Delete", new { url = item.URL })
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        }
        
        <br /><br />
        <h1>Current Projects</h1>
        @if (Model.Where(model => model.JobStatus.Status == "Current").Count() == 0)
        {
			<h4>You have no current projects at this time.<br/>
            If you were awarded one of the jobs above, click "Current Project" next to that job in the list above.</h4>
					       
        }
        else
        {
            <div class="jobs_table">
                <table class="minimalist" cellpadding="0" cellspacing="0">
        
                    <tbody>

                    @foreach (var item in Model)
                    {
                        if ((item.JobStatus != null) && (item.JobStatus.Status == "Current"))
                        {
                            <tr>
                                <td>
                                    <a class="search-result-title" href="@item.URL" target="_blank">@Html.Raw(@item.Title)</a><br /> 
                                    <span class="search-result-desc">@Html.Raw(@item.ShortDescription)</span><br />            
                                    <a href="@item.DisplaySite" target="_blank">@Html.Raw(@item.DisplaySite)</a>
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { url = item.URL })
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        }
        </fieldset>
</section>