@model IEnumerable<Web.Models.Job>

@{
    ViewBag.Title = "freelancehub.io - My Jobs";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<section id="jobs_main">
    <h2>My Jobs</h2>

        <fieldset>
        <legend>Leads</legend>
        @if (Model.Where(model => model.JobStatus.Status == "Lead").Count() == 0) {
             <h4>You have no leads saved. Want to try @Html.ActionLink("searching", "Index", "Search", null, null)?</h4>
        }
        else
        {
            <table class="minimalist" cellpadding="0" cellspacing="0">
                <thead>
				    <tr>
					    <td>
						    <h4>Title</h4>
					    </td>
					    <td>
					    </td>
					    <td>
						    <h4>Budget</h4>
					    </td>
					    <td>
						    <h4>Description</h4>
					    </td>
                        <td class="last">
					    </td>
				    </tr>
			    </thead>
                <tbody>

                @foreach (var item in Model)
                {
                    if ((item.JobStatus != null) && (item.JobStatus.Status == "Lead"))
                    {
                        <tr>
                            <td>
                                @Html.Raw(@item.Title)
                            </td>
                            <td>
                                <a href="@item.URL" target="_blank"><img src="Content/images/go_icon.png" alt="" /><span>Apply</span></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Budget)
                            </td>
                            <td>
                                @Html.Raw(@item.ShortDescription)
                            </td>
                            <td class="last">
                                @Html.ActionLink("Applied", "Applied", new { id = item.Id })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                }

                </tbody>

            </table>
      
        }
        </fieldset>
        <fieldset>
        <legend>Active Proposals</legend>
        @if (Model.Where(model => model.JobStatus.Status == "Applied").Count() == 0)
        {
			<h4>You have no proposals saved.<br/>
            If you applied to one of your leads, click "Applied" next to that job in the list above.</h4>					        
        }
        else
        {   
            <div class="jobs_table">
                <table class="minimalist" cellpadding="0" cellspacing="0">
                     <thead>
			            <tr>
				            <td>
					            <h4>Title</h4>
				            </td>
				            <td>
				            </td>
				            <td>
					            <h4>Budget</h4>
				            </td>
				            <td>
					            <h4>Description</h4>
				            </td>
                            <td class="last">
				            </td>
			            </tr>
		            </thead>
                    <tbody>

                    @foreach (var item in Model)
                    {
                        if ((item.JobStatus != null) && (item.JobStatus.Status == "Applied"))
                        {
                            <tr>
                                <td>
                                    @Html.Raw(@item.Title)
                                </td>
                                <td>
                                    <a href="@item.URL" target="_blank"><img src="Content/images/go_icon.png" alt="" /><span>View</span></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Budget)
                                </td>
                                <td>
                                    @Html.Raw(@item.ShortDescription)
                                </td>
                                <td class="last">
                                    @Html.ActionLink("Current Project", "Current", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        }
        </fieldset>
        <fieldset>
        <legend>Current Projects</legend>
        @if (Model.Where(model => model.JobStatus.Status == "Current").Count() == 0)
        {
			<h4>You have no current projects at this time.<br/>
            If you were awarded one of the jobs above, click "Current Project" next to that job in the list above.</h4>
					       
        }
        else
        {
            <div class="jobs_table">
                <table class="minimalist" cellpadding="0" cellspacing="0">
        
                    <thead>
			            <tr>
				            <td>
					            <h4>Title</h4>
				            </td>
				            <td>
				            </td>
				            <td>
					            <h4>Budget</h4>
				            </td>
				            <td>
					            <h4>Description</h4>
				            </td>
                            <td class="last">
				            </td>
			            </tr>
		            </thead>
                    <tbody>

                    @foreach (var item in Model)
                    {
                        if ((item.JobStatus != null) && (item.JobStatus.Status == "Current"))
                        {
                            <tr>
                                <td>
                                    @Html.Raw(@item.Title)
                                </td>
                                <td>
                                    <a href="@item.URL" target="_blank"><img src="Content/images/go_icon.png" alt="" /><span>View</span></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Budget)
                                </td>
                                <td>
                                    @Html.Raw(@item.ShortDescription)
                                </td>
                                <td class="last">
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        }
        </fieldset>
</section>