@model Web.Models.UserRole

@{
    ViewBag.Title = "AddUserToRole";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<h2>AddUserToRole</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserRole</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Role)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Role)
            @Html.ValidationMessageFor(model => model.Role)
        </div>

        <p>
            <input type="submit" value="AddUserToRole" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Roles")
</div>
