@model Web.Models.Account

@{
    ViewBag.Title = "Freelance Hub - Account";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}
<section id="account_main">
    @if (Model.IsAccountCurrent())
    {
        <h2>Your Account is Active</h2>
    }
    else
    {
        <h2>Your Account is Suspended</h2>
    }
    <section class="page_section">
            <h3>Profile</h3>
            <table cellpadding="0" cellspacing="0">                
                <tbody>                                   
                    <tr>
                        <td>
                            <label><b>Full Name:</b></label>&nbsp;&nbsp; @Html.DisplayFor(m => m.CustomerFullName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><b>Email:</b></label>&nbsp;&nbsp; @Html.DisplayFor(m => m.Email)
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>
    <section class="page_section">
            <h3>Subscription</h3>
            
            <table cellpadding="0" cellspacing="0">                
                <tbody>                       
                    <tr>
                        <td>
                            <label><b>Current Subscription:</b></label>&nbsp;&nbsp;@Html.DisplayFor(m => m.CustomerSubscriptionProductName) 
                                                        &nbsp;&nbsp;@Html.ActionLink("Change Plan", "Upgrade", Model)&nbsp;&nbsp;
                                                        &nbsp;&nbsp;@if (Model.PendingCancellationOn == null)
                                                                    {
                                                                        @Html.ActionLink("Cancel", "Cancel", Model)
                                                                    }
                           
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <label><b>Current Status:</b></label>&nbsp;&nbsp; @Html.DisplayFor(m => m.CustomerSubscriptionStatus)
                                                                &nbsp;&nbsp;@if (!Model.IsAccountCurrent())
                                                                            {
                                                                                @Html.ActionLink("Reactivate", "Reactivate", Model)
                                                                            }
                                                                            else if (Model.PendingCancellationOn != null)
                                                                            {
                                                                                @Html.Raw("(Pending Cancellation on ") @Html.DisplayFor(m => m.PendingCancellationOn) @Html.Raw(")")
                                                                            }
                                                                              
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><b>Credit Card:</b></label>&nbsp;&nbsp; @Html.DisplayFor(m => m.CreditCard)
                                                                           <a href="@Model.UpdatePaymentLink">Update Credit Card</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(m => m.Statistics)<br />
                            @Html.DisplayFor(m => m.BalanceSummary)&nbsp;&nbsp;@Html.ActionLink("Change Plan", "Upgrade", Model)
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

