@model Web.Models.Search

@{
    ViewBag.Title = "freelancehub.io - Search";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}


   
<section id="search_main">
    @using (@Html.BeginForm("BingSearch", "Search", FormMethod.Post))
    { 
        
         
        <h2>What type of work are you looking for?</h2>
        
   
        <div class="editor-field left xlong">
            @Html.TextBoxFor(model => model.Query, new { @class = "whole tall" })
            
            <div class="right-small-margin"><small> @Html.Raw("Not happy with your search results?")</small> @Html.ActionLink("Customize Your Search", "UserView", "CustomSearch", null, null)</div>
        </div>        
        
        <input type="submit" class="right red medium" value="Search" />    
        
    }
    @Html.Partial("_BingSearch", Model.Results)
</section>


