@using SimpleSocialAuth.MVC3
@model Web.Model.Login
           
<div id="osx-modal-content-login">
	<div id="osx-modal-title" class="gofer">freelance<span style="color: #fff;">Hub</span></div>
	<div class="close"><a href="#" class="simplemodal-close">x</a></div>
	<div id="osx-modal-data-login"> 
        <div class="login-with-us">   
        @using (@Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginform" }))
        {   
            <h3>Login with us</h3>
            <div class="editor-label">
                @Html.Label("Email")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        
            <div class="editor-label">
                @Html.Label("Password")
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <input id="login-modal" type="submit" class="red medium" value="Login" />
        }
        </div>

        <h2>OR</h2>

        <div class="login-with-them">
            <h3>Login with Facebook or Google</h3>

            @Html.RenderAuthStylesheet()
            @Html.RenderAuthScript()
            @Html.RenderAuthWarnings()

            @if (TempData["authError"] != null)
            {
              <p class="error-messasge">
                @TempData["authError"]
              </p>
            }

            @using (Html.BeginForm("SimpleAuthenticate", "Account", FormMethod.Post, new { id = "authForm" }))
            {
              <div class="authButtons">
                @Html.AuthButtons()
              </div>
            }
        </div>
    </div>
</div>

