@using SimpleSocialAuth.MVC3
@model Web.Model.Signup

<div id="osx-modal-content">
    <div id="osx-modal-title" class="gofer">freelance<span style="color: #fff;">Hub</span></div>
    <div class="close"><a href="#" class="simplemodal-close">x</a></div>
    <div id="osx-modal-data">       
        
        <div class="login-with-us">
        @using (@Html.BeginForm("SignUp", "Account", FormMethod.Post, new { id = "signupform" }))
        {            
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
        
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        
            <div class="editor-label">
                @Html.Label("Email")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        
            <div class="editor-label">
                @Html.Label("Password")
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>  
            <div class="editor-label">
                @Html.Label("Confirm Password")
            </div>
            
            <div class="editor-field">
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
    
            <div class="editor-field">
                @Html.HiddenFor(model => model.Plan, new { @id = "plan"})
            </div>
            
            <input id="signup-modal" type="submit" class="red medium" value="Sign Up!" />
            
            <div id="signupMessage" class="message"></div>
        }
        </div>

        <h2>OR</h2>

        <div class="login-with-them">
            <h3>Sign up with your Facebook or Google Account</h3>

            @Html.RenderAuthStylesheet()
            @Html.RenderAuthScript()
            @Html.RenderAuthWarnings()

            @if (TempData["authError"] != null)
            {
              <p class="error-messasge">
                @TempData["authError"]
              </p>
            }

            @using (Html.BeginForm("SimpleAuthenticate", "Account", FormMethod.Post, new { id = "authForm" }))
            {
              <div class="authButtons">
                @Html.AuthButtons()
              </div>
            }
        </div>
    </div>
</div>
