@model IEnumerable<Web.Models.SearchResult>

<section id="search_results">
@if (Model.Count() > 0)
{
    
    using (@Ajax.BeginForm("BingSearchNext", "Search", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "message" }))
    {      
        
    
    }  
    
     
    <table class="minimalist" cellpadding="0" cellspacing="0">
        
        <tbody>
   
        @foreach (var item in Model)
        {        
            <tr>
                <td>               
                    <span id="@item.ID">
                    @if (@item.IsSaved)
                    {
                         @Html.Partial("JobSaved", @item)
                    }
                    else
                    {
                        @Html.Partial("JobNotSaved", @item)
                    }
                    </span>
                </td>
                <td>
                    <a class="search-result-title" href="@item.Url" target="_blank">@Html.Raw(@item.Title)</a><br /> 
                    <span class="search-result-desc">@Html.Raw(@item.Description)</span><br />            
                    <a href="@item.DisplaySite" target="_blank">@Html.Raw(@item.DisplaySite)</a>
                </td>
                <td>
                    @Html.ActionLink(" ", "RedirectDisclaimer", "Search", @item, new { @class = "red small", @target = "_blank", @style = "background:url(/Content/images/apply.png) no-repeat left center;" })
                </td>
            </tr>
        }

        </tbody>

    </table>
}
else
{
    <h2>No results were found try a different search.</h2>
}
</section>


<script type="text/javascript">
    $(function () {

        var saving = function (item) {
            $('span#' + item).html("Saving...").css('color', '#50C6ED');
        }

    });
</script>


