@model IEnumerable<Bing.WebResult>

<section id="search_results">
@if (Model.Count() > 0)
{
    using (@Ajax.BeginForm("BingSearchNext", "Search", new AjaxOptions { HttpMethod = "Post", UpdateTargetId="message" }))
    {
        <input type="submit" class="right" value="Next" /> 
        <p id="message"></p>
    <table class="minimalist" cellpadding="0" cellspacing="0">
        <thead>
		    <tr>
			    <td>
				    <h3>Title</h3>
			    </td>
			    <td>
                    <h3>Site</h3>
			    </td>
			    <td>
			    </td>
			    <td>
				    <h3>Description</h3>
			    </td>
			    <td>
			    </td>
                <td>
			    </td>
		    </tr>
	    </thead>
        <tbody>
   

        @foreach (var item in Model)
        {        
            <tr>
                <td>
                    <b><a href="@item.Url">@Html.Raw(@item.Title)</a></b>
                </td>
                <td>
                    @if(@item.DisplayUrl.IndexOf('/') != -1)
                    {
                        @Html.Raw(@item.DisplayUrl.Substring(0,@item.DisplayUrl.IndexOf('/')))
                    }
                    else
                    {
                        @Html.Raw(@item.DisplayUrl)
                    }

                </td>
                <td>
                    <a href="@item.Url" target="_blank"><span>Apply</span></a>
                </td>
            
                <td>
                    @Html.Raw(@item.Description)
                </td>
                <td>
                    @Ajax.ActionLink("Save Job", "SaveBingJob", "Jobs", Model, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "message", InsertionMode = InsertionMode.Replace })
                </td>
            </tr>
        }

        </tbody>

    </table>
    
    }
}
</section>

