@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale:1.0" />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="@Url.Content("~/Content/images/logo_tiny.png")">

        <!-- Css style sheets -->
        
        <!-- DC Pricing Tables CSS -->
        <link type="text/css" rel="stylesheet" href="http://www.dreamtemplate.com/dreamcodes/pricingtables/css/tsc_pricingtables.css" />
        <!-- DC Pricing Tables JS -->
        <script type="text/javascript" src="http://www.dreamtemplate.com/dreamcodes/pricingtables/js/tsc_pricingtables.js"></script>

        <link rel="stylesheet" href="@Url.Content("~/Content/CSS/Style.css")" />        
        <link rel="stylesheet" href="@Url.Content("~/Content/CSS/Reset.css")" />    
        <link rel="stylesheet" href="@Url.Content("~/Content/CSS/osx.css")" />         
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:600|Arvo' />


    </head>
    <body>
        <div id="wrapper">
            <header>        
                <nav>
                    <ul id="nav-list">
                        <li id="home">@Html.ActionLink("home", "Index", "LandingPage")</li>
                        <li id="howitworks">@Html.ActionLink("how it works", "Index", "HowItWorks")</li>
                        <li id="pricing">@Html.ActionLink("pricing", "Index", "Pricing")</li>
                        <li id="search">@Html.ActionLink("search", "Index", "Search")</li>
                        <li id="signin"><a href='#' class='osx-login'>login</a></li>
                    </ul>
                </nav>
            </header>
            
            <div id="content">
                @RenderBody()
            </div>
            
            <footer>
                <p>Copyright ©  <a href="http://www.geekgirlsoftware.com">Geek Girl Software</a> 2013</p>
                <ul id="social-media">
                    <li id="gmail"><a href="mailto:julie@geekgirlsoftware.com" target="_blank"><img alt="gmail" src="/Content/images/gmail.png" /></a></li>
                    <li id="facebook"><a href="https://www.facebook.com/freelancehub.io" target="_blank"><img alt="facebook" src="/Content/images/facebook.png" /></a></li>
                    <li id="twitter"><a href="https://twitter.com/geekgirl907" target="_blank"><img alt="twitter" src="/Content/images/twitter.png" /></a></li>                   
                </ul>
            </footer>
        </div>

        
<!-- Sign Up - hidden -->
@Html.Partial("_SignUp")

<!-- Login - hidden -->
@Html.Partial("_Login")

        <!-- JQuery libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="@Url.Content("~/Scripts/jquery.simplemodal.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
        <script src="@Url.Content("~/Scripts/osx.js")"></script>

    </body>
</html>

