@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale:1.0" />
        <meta name="google-site-verification" content="B-HEDnoZKaq5vfPMAJXBtdfbocudFFSn7Jr7zQDwfWU" />
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")">

        <!-- DC Pricing Tables -->
        <link type="text/css" rel="stylesheet" href="http://www.dreamtemplate.com/dreamcodes/pricingtables/css/tsc_pricingtables.css" />
        <script type="text/javascript" src="http://www.dreamtemplate.com/dreamcodes/pricingtables/js/tsc_pricingtables.js"></script>

        <!-- Css style sheets -->      
        <link rel="stylesheet" href="@Url.Content("~/Content/CSS/Reset.css")" />  
        <link rel="stylesheet" href="@Url.Content("~/Content/CSS/Style.css")" />       
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:600|Arvo' />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

        <!--[if lt IE 9]>
             <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
             <script>
                document.createElement('header');
                document.createElement('section');
                document.createElement('article');
                document.createElement('aside');
                document.createElement('nav');
                document.createElement('footer');
            </script>

             <link rel="stylesheet" href="@Url.Content("~/Content/CSS/iefixes.css")" />       
        
            
         <![endif]-->

        <!-- JQuery libraries -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>        
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script> 
        <script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script> 
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.simplemodal.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/osx.js")"></script>
    </head>
    <body id="body-signed-in">
 <div id="wrapper">
            <header id="signed-in">  
                <div id="gofer-small"></div>     
                <nav>
                    <ul id="nav-list">
                        <li id="home">@Html.ActionLink("home", "Index", "LandingPage")</li>                        
                        <li id="search">@Html.ActionLink("search", "GoogleSearch", "Search")</li>
                        <li id="jobs">@Html.ActionLink("my jobs", "Index", "Jobs")</li>                        
                        <li id="jobs">@Html.ActionLink("account", "Index", "Account")</li>
                        <li id="blog"><a href="http://blog.freelancehub.io">blog</a></li>
                        <li id="logout">@Html.ActionLink("logout", "Logout", "Account")</li>
                    </ul>
                </nav>
            </header>
            
            <div id="content-signed-in">
                @RenderBody()
            </div>
            
            <footer id="footer-signed-in">
                                <p>Copyright ©  <a href="http://www.geekgirlsoftware.com">Geek Girl Software</a> 2012-2013<a href="http://www.privacychoice.org/policy/mobile?policy=3aba934cd01fbf1933ca804d37400984">Privacy Policy</a></p>
                <ul id="social-media-signed-in">
                    <li id="gmail"><a href="mailto:info@geekgirlsoftware.com" target="_blank"><img alt="gmail" src="/Content/images/gmail.png" /></a></li>
                    <li id="facebook"><a href="https://www.facebook.com/freelancehub.io" target="_blank"><img alt="facebook" src="/Content/images/facebook.png" /></a></li>
                    <li id="twitter"><a href="https://twitter.com/FreelanceHubio" target="_blank"><img alt="twitter" src="/Content/images/twitter.png" /></a></li>                   
                </ul>
            </footer>
        </div>
        
    </body>
</html>

