@using SimpleSocialAuth.MVC3
           
<div id="osx-modal-content-login">
	<div id="osx-modal-title" class="gofer">freelance<span style="color: #fff;">Hub</span></div>
	<div class="close"><a href="#" class="simplemodal-close">x</a></div>
	<div id="osx-modal-data-login">        

        <h2>Login with Twitter, Facebook or Google</h2>

        @Html.RenderAuthStylesheet()
        @Html.RenderAuthScript()
        @Html.RenderAuthWarnings()

        @if (TempData["authError"] != null)
        {
          <p class="error-messasge">
            @TempData["authError"]
          </p>
        }

        @using (Html.BeginForm("Authenticate", "SimpleAuth", FormMethod.Post, new { id = "authForm" }))
        {
          <div class="authButtons">
            @Html.AuthButtons()
          </div>
        }
    </div>
</div>

