@model Web.Models.Account


<h2>What type of work are you looking for, @Model.CustomerFirstName?</h2>
<input type="hidden" id="custom-sites" name="sites" value="@Model.SitesToSearchString" />

<div class="right-large-margin"><small> @Html.Raw("Not happy with your search results?")</small> @Html.ActionLink("Select the Sites You Want to Search", "UserView", "CustomSearch", null, null)</div>

<div id="cse" style="width:100%;"></div>
<div style="display:none">

    <div id="fria_webResult">
        
        <div class="gs-webResult gs-result"
             data-vars="{longUrl:function() {
        var i = unescapedUrl.indexOf(visibleUrl);
        return i < 1 ? visibleUrl : unescapedUrl.substring(i);}}">
            <div data-if="Vars.richSnippet" data-attr="0"
                 data-body="render('thumbnail',richSnippet,{url:unescapedUrl,target:target})"></div>
            
            <!--<a class="gsc-keeper" data-attr="{href:'@Url.Action("SaveFavorite", "Jobs")?url=' + unescapedUrl + '&title=' + titleNoFormatting + '&desc=' + stripHtml(content),target:target}" style="background:url(/Content/images/star-white16.png) no-repeat left center; width: 80px;" ></a>-->
            <div class="gs-title">
                <a class="gs-title" data-attr="{href:unescapedUrl,target:target}"
                   data-body="html(title)"></a>
            </div>
            <div class="gs-snippet" data-body="html(content)"></div>

            <div class="gs-visibleUrl gs-visibleUrl-short" data-body="visibleUrl"></div>
            <div class="gs-visibleUrl gs-visibleUrl-long" data-body="longUrl()"></div>
            <div data-if="Vars.richSnippet && Vars.richSnippet.action" class="gs-actions"
                 data-body="render('action',richSnippet,{url:unescapedUrl,target:target})"></div>
            <a class="red small right" data-attr="{href:'@Url.Action("RedirectDisclaimerUrl", "Search")?url=' + unescapedUrl,target:target}" style="background:url(/Content/images/apply.png) no-repeat left center;"></a>       
        </div>        
        <div data-attr="{id:makeId(unescapedUrl)}" class="saved"></div>
    </div>
         
  <div id="fria_thumbnail">
    <div data-attr="0" data-vars="{tn:Vars.thumbnail && thumbnail.src
        ? thumbnail : {src:Vars.document && document.thumbnailUrl}}">
      <div data-if="tn.src" class="gs-image-box gs-web-image-box">
        <a class="gs-image" data-attr="{href:url,target:target}">
          <img class="gs-image" src=""
            data-attr="{src:tn.src, width:tn.width || 100, height: tn.height}"/>
        </a>
      </div>
    </div>
  </div>

  <div id="fria_action">
    <div data-foreach="Vars.action" data-attr="0">
      <div data-attr="{'class': 'gs-action ' + Cur['class']}"
          data-if="Cur.url && Cur.label">
        <a class="gs-action" data-attr="{href:Cur.url,target:target}"
          data-body="Cur.label"></a>
      </div>
    </div>
  </div>
</div>

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">

    google.load('search', '1', { language: 'en', style: google.loader.themes.MINIMALIST });
    google.setOnLoadCallback(function () {
        var customSearchOptions = {};
        var orderByOptions = {};
        var siteString = $("#custom-sites").val();
        orderByOptions['keys'] = [{ label: 'Date', key: 'date' }, { label: 'Relevance', key: ''}];
        customSearchOptions['enableOrderBy'] = true;
        customSearchOptions['orderByOptions'] = orderByOptions;
        customSearchOptions['adoptions'] = { 'layout': 'noTop' };
        //customSearchOptions[google.search.Search.RESTRICT_EXTENDED_ARGS] = { 'as_sitesearch': 'jobs.problogger.net/view/' };

        //customSearchOptions['crefUrl'] = $('#user-search').val();
        var customSearchControl = new google.search.CustomSearchControl('013914245334065375847:dl-lwlywdoi', customSearchOptions);
        google.search.Csedr.addOverride("fria_");
        customSearchControl.setRefinementStyle(google.search.SearchControl.REFINEMENT_AS_LINK);
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        customSearchControl.setOnKeepCallback(this, onFavorite, google.search.SearchControl.KEEP_LABEL_BLANK);
        customSearchControl.setSearchStartingCallback(this, function (control, searcher, query) {
            searcher.setQueryAddition(siteString);
            var search = {
                queryString: query
            }

            $.post('@Url.Action("SaveSearchQuery", "Search")', search, function (jsonReturnArgs) {

            }).error(function (data) {

            });
        });
        customSearchControl.draw('cse');
    }, true);

    var onFavorite = function (result) {
        var newJob = {
            ShortDescription: stripHtml(result.content),
            Title: stripHtml(result.title),
            URL: result.url
        };

        var id = "#" + makeId(result.url);
        $(id).html("Saving...");

        $.post('@Url.Action("SaveFavorite", "Jobs")', newJob, function (jsonReturnArgs) {
            if (jsonReturnArgs == "success")
            { $(id).html("Saved!"); }
            else if (jsonReturnArgs == "error")
            { $(id).html("You have reached your save limit. <a href='/Account/Upgrade'>Upgrade</a> to save more jobs!").css('color', '#50C6ED'); }
        }).error(function (data) {
            $(id).html("Oops! Try again.");
        });
    };

  

    function stripHtml(str) {
        return jQuery('<div />', { html: str }).text();
    }

    function makeId(str) {
        var newstring = str.replace(/\//g, "");
        newstring = newstring.replace(/\./g, "_");
        newstring = newstring.replace(/\:/g, "_");
        return newstring;
    } 
</script>