@using SimpleSocialAuth.MVC3
@model Web.Models.Signup

<div id="osx-modal-content">
    <div id="osx-modal-title" class="gofer">freelance<span style="color: #fff;">Hub</span></div>
    <div class="close"><a href="#" class="simplemodal-close">x</a></div>
    <div id="osx-modal-data">       
        
        <div class="login-with-us">
        @using (@Html.BeginForm("SignUp", "Account", FormMethod.Post, new { id = "signupform" }))
        {            
            <div><span id="message"></span></div>
            <div class="editor-label">
                @Html.Label("Full Name")
            </div>
        
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        
            <div class="editor-label">
                @Html.Label("Email")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        
            <div class="editor-label">
                @Html.Label("Password")
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>  
            <div class="editor-label">
                @Html.Label("Confirm Password")
            </div>
            
            <div class="editor-field">
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
    
            <div class="editor-field">
                @Html.HiddenFor(model => model.Plan, new { @id = "plan" })
            </div>
            
            <input id="signup-modal" type="submit" class="red medium" value="Sign Up!" />
        }
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#signup-modal").click(function (e) {
            e.preventDefault();

            var dataString = $("#signupform").serialize();

            $.ajax({
                type: "POST",
                url: '@Url.Action("SignUp", "Account")',
                data: dataString,
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data.Success == "1") {
                        window.location.href = data.Redirect;
                    }
                    else {
                        $('span#message').html(data.Message).css('color', 'red');
                    }
                }
            });

        });
    });
</script>
