@model Web.Model.Account

<div id="osx-modal-content">
    <div id="osx-modal-title" class="gofer">freelance<span style="color: #fff;">Hub</span></div>
    <div class="close"><a href="#" class="simplemodal-close">x</a></div>
    <div id="osx-modal-data">
        
        @using (@Html.BeginForm("SignUp", "Account", FormMethod.Post, new { id = "signupform" }))
        {
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
        
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        
            <div class="editor-label">
                @Html.Label("Email")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        
            <div class="editor-label">
                @Html.Label("Password")
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>  
            <div class="editor-label">
                @Html.Label("Confirm Password")
            </div>
            
            <div class="editor-field">
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            
            <div class="editor-label">
                Please Select a Plan
            </div>
            
            <div class="editor-radio">
                @Html.RadioButtonFor(model => model.Plan, "Monthly", new { @checked = true }) Basic Monthly Plan (Free Trial! then $9/month)<br />
                @Html.RadioButtonFor(model =>model.Plan,"Yearly", false) Basic Yearly Plan (Free Trial! then $99/year)
            </div>
    
            <ul class="signup-buttons">
                <li><input id="signup-modal" type="submit" class="red large" value="Sign Up!" /></li>
            </ul>
            
            <div id="signupMessage" class="message"></div>
        }
    </div>
</div>
