@model Reference.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Custom Search Site</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobType)
    </div>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { name=Model.Name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
