@model IList<Web.Models.CustomSearchSite>

@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}


<section id="main">    
    <h2>Select the Job Sites that you want to search</h2>


@using (Html.BeginForm("UserView", "CustomSearch", FormMethod.Post))
{
    <b>@Html.Label("All Job Types")</b>

    for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "All")
        {
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }
    
    <b>@Html.Label("Writing Jobs")</b>

    for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "Writing")
        {
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }

    <b>@Html.Label("Design Jobs")</b>
                               
    for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "Design")
        {
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }
    
    <b>@Html.Label("IT/Programming Jobs")</b>
                               
    for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "IT")
        {
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }
    
    <b>@Html.Label("Photography Jobs")</b>
                               
    for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "Photography")
        {
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }

    <p>
        <input type="submit" id="saveSearches" value="Save" />
        
    </p>
    <p class="green" id="message">
        @ViewBag.Comment
    </p>
}

</section>

<script type="text/javascript">
    $(function () {
        $('input#saveSearches').click(function (e) {
            $('p#message').html("Saving...");
        });
    });
</script>
