@model IList<Web.Models.CustomSearchSite>

@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}


<section id="search_main">    
    <h2>Select the Job Sites that you want to search</h2>


@using (Html.BeginForm("UserView", "CustomSearch", FormMethod.Post))
{

    <ul id="config-list">
    <li class="sites">    
    <p><b>@Html.Label("Multiple Job Types")</b></p>
    @for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "All")
        {          
        
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }

    </li>   
    <li class="sites">    
    <p><b>@Html.Label("Writing Jobs")</b></p>
    @for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "Writing")
        {          
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }
    
    </li>   
    <li class="sites">     
    <p><b>@Html.Label("Design Jobs")</b></p>
    @for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "Design")
        {          
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }
    
    </li>   
    <li class="sites"> 
    <p><b>@Html.Label("IT & Programming Jobs")</b></p>
    @for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "IT")
        {          
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }
    
    </li>   
    <li class="sites"> 
    <p><b>@Html.Label("Photography Jobs")</b></p>
    @for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).JobType.ToString() == "Photography")
        {          
            <p>
            @Html.CheckBoxFor(m => m[i].UserWantsToSearch)
            @Html.DisplayFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].DisplayName)
            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].Name)
            @Html.HiddenFor(m => m[i].JobType)
            @Html.HiddenFor(m => m[i].Url)
            </p>
        }
    }
    
    </li>
    </ul>
    <div class="right">
        <p><input type="submit" id="saveSearches" class="red medium" value="Save" /></p>
        <span id="message">@ViewBag.Comment</span>
    </div>
}

</section>

<script type="text/javascript">
    $(function () {
        $('input#saveSearches').click(function (e) {
            $('span#message').html("Saving...");
        });
    });
</script>
