@model Web.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
           

<section class="page_section">   
@using (@Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginform" }))
{   
    <div><span id="message"></span></div>
    <h3 class="indent">Login now!</h3>
    <div class="editor-label2">
        @Html.Label("Email")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
        
    <div class="editor-label2">
        @Html.Label("Password")
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <input id="login-modal" type="submit" class="red medium indent" value="Login" />
}
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#login-modal").click(function (e) {
            e.preventDefault();

            var dataString = $("#loginform").serialize();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Login", "Account")',
                data: dataString,
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data.Success == "1") {
                        window.location.href = data.Redirect;
                    }
                    else {
                        $('span#message').html(data.Message).css('color', 'red');
                    }
                }
            });

        });
    });
</script>
